In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.datasets import load_diabetes

In [3]:
diab=load_diabetes()

In [4]:
diab.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

In [5]:
# creating a dataframe from dictionary
df=pd.DataFrame(diab.data,columns=diab.feature_names)

In [6]:
df['target']=diab.target

In [7]:
df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485,104.0
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491,132.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930,220.0
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064,57.0

In [8]:
print(diab.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

In [9]:
X=df.drop('target',axis=1) # input variables
y=df['target'] # target variable

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [12]:
lr= LinearRegression() # intialize the model

lr.fit(X_train,y_train) # train the model

LinearRegression()

In [13]:
# evaluate this model on the test data
y_pred=lr.predict(X_test)

In [14]:
df2=pd.DataFrame({'Actual':y_test,'Predicted':y_pred})

In [15]:
df2['AE']=abs(df2['Actual']-df2['Predicted'])

In [16]:
df2['SE']=(df2['Actual']-df2['Predicted'])**2

In [17]:
np.mean(df2['AE'])

42.79409467959993

In [18]:
np.mean(df2['SE'])

2900.1936284934804

In [19]:
mse=mean_squared_error(y_test,y_pred)
print(mse)

2900.1936284934804

In [20]:
mae=mean_absolute_error(y_test,y_pred)
print(mae)

42.79409467959993

In [21]:
r2=r2_score(y_test,y_pred)
print(r2)

0.4526027629719196

In [22]:
r2_score= 1 - (np.sum((y_test - y_pred)**2) / np.sum((y_test - np.mean(y_test))**2))
print(r2_score)

0.4526027629719196

In [23]:
r2_score= 1 - (np.sum((df2['Actual'] - df2['Predicted'])**2) / np.sum((df2['Actual'] - np.mean(df2['Actual']))**2))
print(r2_score)

0.4526027629719196

In [24]:
df2

     Actual   Predicted          AE            SE
287   219.0  139.547558   79.452442   6312.690476
211    70.0  179.517208  109.517208  11994.018926
72    202.0  134.038756   67.961244   4618.730724
321   230.0  291.417029   61.417029   3772.051482
73    111.0  123.789659   12.789659    163.575370
..      ...         ...         ...           ...
255   153.0  115.011800   37.988200   1443.103326
90     98.0   78.955842   19.044158    362.679959
57     37.0   81.560873   44.560873   1985.671389
391    63.0   54.379973    8.620027     74.304873
24    184.0  166.254352   17.745648    314.908030

[89 rows x 4 columns]

In [25]:
lr.coef_, lr.intercept_

(array([  37.90402135, -241.96436231,  542.42875852,  347.70384391,
        -931.48884588,  518.06227698,  163.41998299,  275.31790158,
         736.1988589 ,   48.67065743]),
 151.34560453985995)

target=37.98 * X1 -241.96 *X2 + 542.42875852 * X3 + 347.70384391 X4 -931.48884588 * X5 + 518.06227698 * X6 +163.41998299* X7 +275.31790158 * X8 +736.1988589 * X9 +  48.6706574 * X10 + 151.3456

In [26]:
# metrics for the training data
y_pred_train=lr.predict(X_train)

In [27]:
y_pred_train=y_pred_train.astype(int)

In [28]:
y_train=y_train.astype(int)

In [29]:
print("mse for train_data:", mean_squared_error(y_train,y_pred_train))
print("mae for train_data:", mean_absolute_error(y_train,y_pred_train))

mse for train_data: 2868.184135977337
mae for train_data: 43.447592067988666

In [30]:
r2_score= 1 - (np.sum((y_train - y_pred_train)**2) / np.sum((y_train - np.mean(y_train))**2))
print(r2_score)

0.527979548105912

In [31]:
# Metrics for the test data

print("mse for test_data:", mean_squared_error(y_test,y_pred))
print("mae for test_data:", mean_absolute_error(y_test,y_pred))

r2_score_test= 1 - (np.sum((y_test - y_pred)**2) / np.sum((y_test - np.mean(y_test))**2))
print(r2_score_test)

mse for test_data: 2900.1936284934804
mae for test_data: 42.79409467959993
0.4526027629719196

In [32]:
from sklearn.linear_model import Ridge, Lasso, ElasticNet, LinearRegression

In [33]:
# Ridge Regression
ridge=Ridge() # intialize the model
ridge.fit(X_train,y_train) # train the model
y_pred_ridge_te=ridge.predict(X_test) # prediction for test
y_pred_ridge_tr=ridge.predict(X_train) # prediction for train

# calculate Metrics for train data
print("------Metrics for ridge model on train data------")
print("mse for train_data:", mean_squared_error(y_train,y_pred_ridge_tr))
print("mae for train_data:", mean_absolute_error(y_train,y_pred_ridge_tr))
r2_score_ridge_tr= 1 - (np.sum((y_train - y_pred_ridge_tr)**2) / np.sum((y_train - np.mean(y_train))**2))
print(r2_score_ridge_tr)
print()
# calculate Metrics for test data
print("------Metrics for ridge model on test data------")
print("mse for test_data:", mean_squared_error(y_test,y_pred_ridge_te))
print("mae for test_data:", mean_absolute_error(y_test,y_pred_ridge_te))
r2_score_ridge_te= 1 - (np.sum((y_test - y_pred_ridge_te)**2) / np.sum((y_test - np.mean(y_test))**2))
print(r2_score_ridge_te)

------Metrics for ridge model on train data------
mse for train_data: 3388.1826180801313
mae for train_data: 48.8051936622374
0.4424027835503952

------Metrics for ridge model on test data------
mse for test_data: 3077.41593882723
mae for test_data: 46.13885766697452
0.41915292635986545

In [34]:
# Elastic Net
elastic=ElasticNet() # intialize the model
elastic.fit(X_train,y_train) # train the model
y_pred_elastic_te=elastic.predict(X_test) # prediction for test
y_pred_elastic_tr=elastic.predict(X_train) # prediction for train

print("------Metrics for elastic model on train data------")
print("mse for train_data:", mean_squared_error(y_train,y_pred_elastic_tr))
print("mae for train_data:", mean_absolute_error(y_train,y_pred_elastic_tr))
r2_score_elastic_tr= 1 - (np.sum((y_train - y_pred_elastic_tr)**2) / np.sum((y_train - np.mean(y_train))**2))
print(r2_score_elastic_tr)
print()
print("------Metrics for elastic model on test data------")
print("mse for test_data:", mean_squared_error(y_test,y_pred_elastic_te))
print("mae for test_data:", mean_absolute_error(y_test,y_pred_elastic_te))
r2_score_elastic_te= 1 - (np.sum((y_test - y_pred_elastic_te)**2) / np.sum((y_test - np.mean(y_test))**2))
print(r2_score_elastic_te)

------Metrics for elastic model on train data------
mse for train_data: 6022.3083478943745
mae for train_data: 66.16280406468873
0.008901600088515704

------Metrics for elastic model on test data------
mse for test_data: 5311.21282167187
mae for test_data: 63.70590076411911
-0.0024652131111431164

In [35]:
import pickle
pickle.dump(ridge,open('model_ridge.pkl','wb'))

In [38]:
pickle.dump(elastic,open('model_en.pkl','wb'))

pickle.dump(lr,open('model_lr.pkl','wb'))

In [36]:
df.columns

Index(['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6',
       'target'],
      dtype='object')

In [37]:
df.describe()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
count,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,442.000000
mean,-2.511817e-19,1.230790e-17,-2.245564e-16,-4.797570e-17,-1.381499e-17,3.918434e-17,-5.777179e-18,-9.042540e-18,9.293722e-17,1.130318e-17,152.133484
std,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,77.093005
min,-1.072256e-01,-4.464164e-02,-9.027530e-02,-1.123988e-01,-1.267807e-01,-1.156131e-01,-1.023071e-01,-7.639450e-02,-1.260971e-01,-1.377672e-01,25.000000
25%,-3.729927e-02,-4.464164e-02,-3.422907e-02,-3.665608e-02,-3.424784e-02,-3.035840e-02,-3.511716e-02,-3.949338e-02,-3.324559e-02,-3.317903e-02,87.000000
50%,5.383060e-03,-4.464164e-02,-7.283766e-03,-5.670422e-03,-4.320866e-03,-3.819065e-03,-6.584468e-03,-2.592262e-03,-1.947171e-03,-1.077698e-03,140.500000
75%,3.807591e-02,5.068012e-02,3.124802e-02,3.564379e-02,2.835801e-02,2.984439e-02,2.931150e-02,3.430886e-02,3.243232e-02,2.791705e-02,211.500000
max,1.107267e-01,5.068012e-02,1.705552e-01,1.320436e-01,1.539137e-01,1.987880e-01,1.811791e-01,1.852344e-01,1.335973e-01,1.356118e-01,346.000000